/****************************
 *         General          *
 ****************************/
html {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    padding-top: 55px;
    height: 100%;
}

.clear {
    clear: both;
}

h1 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 45px;
}

h2 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 35px;
}

h3 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 25px;
}

img {
    cursor: pointer;
}

.container-wide {
    width: 98%;
    margin: 0 auto;
}

.footer {
    text-align: center;
}

.modal-dialog img {
    width: 100%;
    height: auto;
}

.modal-body {
    text-align: center;
}

/****************************
 *           Blog           *
 ****************************/

.blog {
    max-width: 1000px;
    margin: 0 auto;
}

.blog em {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

.blog .col-left {
    max-width: 700px;
    margin-right: 10px;
    float: left;
}

.blog .col-right {
    max-width: 290px;
    float: right;
}

.blog .col-right div {
    width: 290px;
}

@media (max-width: 1200px) {
    .blog .col-right {
        max-width: 620px;
        float: none;
        margin: 0 auto;
    }

    .blog .col-right div {
        float: left;
        margin: 10px;
        min-height: 230px;
    }

    .blog .col-left {
        float: none;
        clear: both;
        margin: 0 auto;
    }
}

@media (max-width: 665px) {
    .blog .col-right {
        max-width: 1000px;
    }

    .blog .col-right div {
        min-height: 0px;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .recent {
        display: none;
    }
}

.post {
    max-width: 700px;
    margin: 10px auto;
    background-color: #ffffff;
}

.bio {
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
}

.recent {
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
}

.recent ul {
    padding-left: 20px;
}

.more {
    font-size: 0.8em;
}

.comments {
    margin-top: 40px;
}

.post-meta {
    float: right;
}

.post table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post th {
    padding: 5px;
}

.post td {
    padding: 5px;
}

.post img {
    max-width: 60%;
    height: auto;
    margin: 5px auto;
    display: block;
}

.post iframe {
    margin: 10px auto;
    display: block;
}

.pagination {
    position: relative;
    display: block;
    margin: 10px auto;
    width: 150px;
}

/****************************
 *         Projects         *
 ****************************/

.projects {
    text-align: center;
}

.projects .row {
    margin: 10px auto;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .table {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.projects .btn-toolbar {
    width: 100px;
    margin: 10px auto 0;
}

.project {
    height: 300px;
    width: 600px;
    margin: 8px;
    padding: 8px;
    background-color: #ffffff;
    display: inline-block;
}

.preview {
    height: 280px;
    width: 280px;
    overflow: hidden;
    float: left;
}

.preview img {
    cursor: pointer;
    position: relative;
}

.small-preview {
    height: 70px;
    width: 70px;
    overflow: hidden;
}

.small-preview img {
    height: 100%;
    width: auto;
    position: relative;
}

.project .caption {
    height: 100%;
    width: 50%;
    padding-left: 10px;
    float: right;
    position: relative;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0px;
}

.caption .bottom {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.actions .btn {
    margin-right: 5px;
    line-height: 1.3;
}

.projects .row .actions {
    float: right;
}

.projects .row .btn {
    min-width: 80px;
}

.row .actions {
    text-align: right;
}

.row .actions .btn {
    margin-bottom: 5px;
}

.tags {
    margin-bottom: 10px;
}

.tag {
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    line-height: 13px;
    padding: 6px 10px 6px 10px;
    position: relative;
    vertical-align: middle;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .projects .row .actions {
        float: none;
    }

    .small-preview {
        height: 100px;
        width: 100px;
        overflow: hidden;
        margin: 0 auto;
    }

    .small-preview img {
        height: 100px;
        width: auto;
        position: relative;
    }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 620px) {
    .project {
        height: auto;
        width: 90%;
        margin: 10px;
        padding: 10px;
        background-color: #ffffff;
        display: inline-block;
    }

    .preview {
        height: auto;
        width: 100%;
        overflow: hidden;
        float: none;
    }

    .project .caption {
        height: auto;
        width: 100%;
        padding-left: 10px;
        float: none;
    }

    .caption .bottom {
        position: static;
        width: 100%;
        bottom: 0;
    }
}

/****************************
 *          Resume          *
 ****************************/

.resume {
    position: relative;
}

.top {
    position: absolute;
    top: 0px;
    display: block;
    visibility: hidden;
}

.resume h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
}

.resume_content h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
}

.navigation {
    text-align: center;
    height: 25px;
    margin-bottom: 10px;
}

.summary {
    position: fixed;
    margin-top: 35px;
    width: 318px;
    float: left;
    margin-right: 10px;
}

.resume_content {
    width: 70%;
    float: right;
}

.resume h3 {
    margin-bottom: 0px;
}

.resume .duration {
    float: right;
    margin-bottom: 0px;
}

.resume .title, .resume .institution {
    float: left;
}

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.resume .panel-heading {
    position: relative;
}

.resume .panel-heading a {
    position: absolute;
    right: 15px;
    top: 15px;
}

.experience ul, .education ul {
    margin-bottom: 12px;
}

.experience .title {
    margin-bottom: 0px;
}

.links i {
    margin-right: 15px;
}

.links a {
    color: #000;
    font-weight: bold;
}

.links a:hover {
    color: #333;
}

.skills .tag {
    margin-right: 10px;
}

.skills p {
    margin-bottom: 10px;
}

.skills-title {
    float: left;
    width: 180px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .summary {
        width: auto;
        float: none;
        display: block;
        position: inherit;
        margin-top: 0px;
    }

    .resume_content {
        width: auto;
        float: none;
    }

    .skills-title {
        float: none;
        display: block;
    }
}