/****************************
 *         General          *
 ****************************/
@import url(https://fonts.googleapis.com/css?family=Martel:300);

html {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    padding-top: 78px;
    height: 100%;
}

p, #main li {
    font-family: "Martel",Georgia,Cambria,"Times New Roman",Times,serif;
}

.clear {
    clear: both;
}

h1 {
    margin-top: 2px;
    margin-bottom: 6px;
    font-size: 30px;
}

h2 {
    margin-top: 2px;
    margin-bottom: 6px;
    font-size: 27px;
}

h3 {
    margin-top: 2px;
    margin-bottom: 6px;
    font-size: 25px;
}

img {
    cursor: pointer;
}

.container-wide {
    width: 98%;
    margin: 0 auto;
}

.footer {
    text-align: center;
}

@media (min-width: 1050px) {
    .modal-lg {
        width: 1039px;
    }
}

.modal-dialog img {
    max-width: 100%;
    max-height: 100%;
}

.modal-dialog {
    height: 95%;
}

.modal-content {
    height: 100%;
}

.modal-body {
    height: 90%;
}

.modal-header {
    height: 10%;
}

.modal-body, .modal-title {
    text-align: center;
}

.navbar-brand {
    margin-right: 50px;
}

.navbar-brand.small {
    display: none;
}

@media (max-width: 767px) {
    .navbar-brand.small {
        display: inline-block;
    }

    .navbar-brand {
        display: none;
        margin-right: 0px;
    }
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/****************************
 *           Blog           *
 ****************************/

.blog {
    max-width: 1170px;
    margin: 0 auto;
}

.post em {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.blog .col-left {
    max-width: 860px;
    margin-right: 20px;
    float: left;
}

.blog .col-right {
    max-width: 290px;
    float: right;
    border-left: 1px solid rgba(0,0,0,0.2);
}

.blog .col-right div {
    width: 290px;
}

@media (max-width: 1200px) {
    .blog .col-right {
        max-width: 620px;
        float: none;
        margin: 0 auto;
        border-left: 0;
    }

    .blog .col-right div {
        float: left;
        margin: 10px;
        min-height: 230px;
    }

    .blog .col-left {
        float: none;
        clear: both;
        margin: 0 auto;
    }
}

@media (max-width: 665px) {
    .blog .col-right {
        max-width: 1000px;
    }

    .blog .col-right div {
        min-height: 0px;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .recent {
        display: none;
    }
}

.post {
    max-width: 800px;
    margin: 10px auto;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    line-height: 1.9;
}

.post > .panel-heading {
    border-bottom: 0;
}

.bio {
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
}

.recent {
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
}

.recent ul {
    padding-left: 20px;
}

.more {
    font-size: 0.8em;
}

.comments {
    margin-top: 40px;
}

.post-meta {
    float: right;
    text-align: right;
}

.post table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post th {
    padding: 5px;
}

.post td {
    padding: 5px;
}

.post h1 {
    font-size: 26px;
}

.post .panel-body h1 {
    font-size: 20px;
}

.post p {
    margin-bottom: 18px;
}

.post img {
    max-width: 60%;
    height: auto;
    max-height: 400px;
    margin: 5px auto;
    display: block;
}

.post iframe {
    margin: 10px auto;
    display: block;
}

@media (min-width: 1200px) {
    .pagination {
        margin-right: 290px;
    }
}

/****************************
 *         Projects         *
 ****************************/

.projects {
    text-align: center;
}

.projects .row {
    margin: 10px auto;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.projects .table {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.projects .btn-toolbar {
    width: 100px;
    margin: 10px auto 0;
}

.project {
    height: 300px;
    width: 600px;
    margin: 8px;
    padding: 8px;
    background-color: #ffffff;
    display: inline-block;
}

.project.panel {
    border: 1px solid rgba(0,0,0,0.2);
}

.project .btn {
    margin-top: 5px;
}

.preview {
    height: 280px;
    width: 280px;
    overflow: hidden;
    float: left;
}

.preview img {
    cursor: pointer;
    position: relative;
}

.small-preview {
    height: 70px;
    width: 70px;
    overflow: hidden;
}

.small-preview img {
    height: 100%;
    width: auto;
    position: relative;
}

.project .caption {
    height: 100%;
    width: 50%;
    padding-left: 10px;
    float: right;
    position: relative;
}

.description {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 0px;
}

.caption .bottom {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.actions .btn {
    margin-right: 5px;
    line-height: 1.3;
}

.projects .row .actions {
    float: right;
}

.projects .row .btn {
    min-width: 80px;
}

.row .actions {
    text-align: right;
}

.row .actions .btn {
    margin-bottom: 5px;
}

.tags {
    margin-bottom: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .projects .row .actions {
        float: none;
    }

    .small-preview {
        height: 100px;
        width: 100px;
        overflow: hidden;
        margin: 0 auto;
    }

    .small-preview img {
        height: 100px;
        width: auto;
        position: relative;
    }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 620px) {
    .project {
        height: auto;
        width: 90%;
        margin: 10px;
        padding: 10px;
        background-color: #ffffff;
        display: inline-block;
    }

    .preview {
        height: auto;
        width: 100%;
        overflow: hidden;
        float: none;
    }

    .project .caption {
        height: auto;
        width: 100%;
        padding-left: 10px;
        float: none;
    }

    .caption .bottom {
        position: static;
        width: 100%;
        bottom: 0;
    }
}

/****************************
 *          Resume          *
 ****************************/

.resume {
    position: relative;
}

.top {
    position: absolute;
    top: 0px;
    display: block;
    visibility: hidden;
}

.navigation {
    text-align: center;
    height: 25px;
    margin-bottom: 10px;
}

.summary {
    position: fixed;
    margin-top: 35px;
    width: 320px;
    float: left;
    margin-right: 15px;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 15px;
}

.resume_content {
    width: 70%;
    float: right;
}

.resume .duration {
    float: right;
    margin-bottom: 0px;
}

.resume .name, .resume .institution, .experience .title {
    float: left;
}

.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.resume .panel-heading {
    position: relative;
}

.resume .panel-heading a {
    position: absolute;
    right: 15px;
    top: 15px;
}

.experience ul, .education ul {
    margin: 12px 0;
}

.experience .name {
    clear: both;
    margin-bottom: 0px;
}

.experience .name, .experience .duration {
    font-size: 18px;
}

.links i {
    margin-right: 15px;
}

.links a {
    color: #000;
    font-weight: bold;
}

.links div, .skills div {
    margin-bottom: 10px;
}

.links a:hover {
    color: #333;
}

.skills .tag {
    margin-right: 6px;
    margin-bottom: 6px;
}

.skills p {
    margin-bottom: 10px;
}

.skills-title {
    float: left;
    width: 180px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 1200px) {
    .summary {
        width: auto;
        float: none;
        display: block;
        position: inherit;
        margin-top: 0px;
        border-right: none;
    }

    .resume_content {
        width: auto;
        float: none;
    }

    .skills-title {
        float: none;
        display: block;
    }
}