---
layout: default
title: Resume
---
{% assign resume=site.data.resume %}

<div class="resume">

    <div class="summary">
        <div class="intro">
            {% for paragraph in resume.summary %}
                <p>{{ paragraph }}</p>
            {% endfor %}
        </div>
        <div class="links">
            {% for link in resume.links %}
                <p><a href="{{ link.url }}"><img src="{{ link.icon }}" />{{ link.title }}</a></p>
            {% endfor %}
        </div>
    </div>

    <div class="resume_content">

        <h1>Skills</h1>

        <div class="skills">
            {% for skillCategory in resume.skills %}
                <p>
                    {% for skill in skillCategory %}
                        <span class="tag">{{ skill }}</span>
                    {% endfor %}
                </p>

            {% endfor %}
        </div>

        <h1>Experience</h1>

        {% for experience in resume.experiences %}
            <div class="experience">
                <h3>{{ experience.name }}</h3>
                <p class="duration">{{ experience.start_date }} - {{ experience.end_date }}</p>
                <div class="clear"></div>
                <p class="title">{{ experience.title }}</p>
                <ul>
                    {% for achievement in experience.achievements %}
                        <li class="achievement">{{ achievement }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <h1>Education</h1>

        {% for education in resume.educations %}
            <div class="education">
                <h3>{{ education.title }}</h3>
                <p class="duration">{{ education.start_date }} - {{ education.end_date }}</p>
                <div class="clear"></div>
                <p class="institution">{{ education.institution }}</p>
                <ul>
                    {% for achievement in education.achievements %}
                        <li class="achievement">{{ achievement }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

    </div>

    <div class="clear"></div>
</div>