---
layout: default
title: Resume
---
{% assign resume=site.data.resume %}

<a name="top" class="top"></a>
<div class="resume">

    <div class="summary panel panel-default">
        <div class="panel-heading">
            <h1>Summary</h1>
        </div>

        <div class="panel-body">
            <div class="intro">
                {% for paragraph in resume.summary %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            <div class="links">
                {% for link in resume.links %}
                    <div><a href="{{ link.url }}"><i class="fa {{ link.icon }}"></i>{{ link.title }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="resume_content">

        <div class="navigation">
        <a href="#skills">Skills</a> - <a href="#experience">Experience</a> - <a href="#education">Education</a>
        </div>

        <a class="anchor" name="skills"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Skills</h1>
                <a href="#top"><i class="fa fa-chevron-up"></i></a>
            </div>

            <div class="skills panel-body">
                {% for skillCategory in resume.skills %}
                    <div>
                        <div class="skills-title">{{ skillCategory.title }}:</div>
                        <div class="skills-list">
                        {% for skill in skillCategory.tags %}
                            <span class="tag badge">{{ skill }}</span>
                        {% endfor %}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

        <a class="anchor" name="experience"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Experience</h1>
                <a href="#top"><i class="fa fa-chevron-up"></i></a>
            </div>

            <div class="panel-body">
            {% for experience in resume.experiences %}
                <div class="experience">
                    <h3 class="title text-primary">{{ experience.name }}</h3>

                    <div class="experience-body">
                    {% for position in experience.positions %}
                        <div class="header">
                            <div class="name text-primary">{{ position.title }}</div>
                            <div class="duration text-primary">{{ position.start_date }} - {{ position.end_date }}<br/>{{ position.location }}</div>
                        </div>
                        <div class="clear"></div>
                        {% if position.achievements.size > 0 %}
                        <ul>
                            {% for achievement in position.achievements %}
                                <li class="achievement"><div>{{ achievement }}</div></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                    </div>

                </div>
            {% endfor %}
            </div>
        </div>

        <a class="anchor" name="education"></a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Education</h1>
                <a href="#top"><i class="fa fa-chevron-up"></i></a>
            </div>

            <div class="panel-body">
            {% for education in resume.educations %}
                <div class="experience">
                    <h3 class="title text-primary">{{ education.title }}</h3>

                    <div class="experience-body">
                        <div class="header">
                            <div class="name text-primary">{{ education.institution }}</div>
                            <div class="duration text-primary">{{ education.start_date }} - {{ education.end_date }}</div>
                        </div>
                        <div class="clear"></div>
                        {% if education.achievements.size > 0 %}
                        <ul>
                            {% for achievement in education.achievements %}
                                <li class="achievement"><div>{{ achievement }}</div></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

    </div>

    <div class="clear"></div>
</div>