<div class="blog row">
    <div class="col-right">
        <div class="bio panel panel-default">
            <h3>Hi, I'm Markus</h3>
            <p>I'm a Software Engineer, hobby game developer and aspiring hiker.</p>
            <a href="https://twitter.com/mneubrand" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @mneubrand</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class="recent panel panel-default">
            <h3>Recent posts</h3>
            <ul>
                {% for post in data offset: 0 limit: 5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-left">
        {% if pagination %}
            {% for post in paginator.posts %}
                {% include post_excerpt.html %}
            {% endfor %}
        {% else %}
            {% for post in data %}
                {% include post_excerpt.html %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<!-- Pagination links -->
{% if pagination %}
<ul class="pagination">
    {% if paginator.previous_page %}
    <li><a href="/blog/page{{ paginator.previous_page }}">«</a>
        {% else %}
    <li class="disabled"><a href="#">«</a>
        {% endif %}
    </li>

    <li><a href="#" class="disabled">{{ paginator.page }} of {{ paginator.total_pages }}</a></li>

    {% if paginator.next_page %}
    <li><a href="/blog/page{{ paginator.next_page }}">»</a>
        {% else %}
    <li class="disabled"><a href="#">»</a>
        {% endif %}
    </li>
</ul>
{% endif %}