<div class="projects">

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-primary active" href="{{ data.section }}-grid.html"><i class="fa fa-table"></i></a>
            <a class="btn btn-primary" href="{{ data.section }}-list.html"><i class="fa fa-bars"></i></a>
        </div>
    </div>

    {% for entry in data.content %}
        <div class="project panel panel-default">

            <div class="preview panel panel-default">
                <img src="{{ entry.image }}" alt="{{ entry.title }}"/>
            </div>

            <div class="caption">
                {% assign first = entry.actions | first %}
                <a href="{{ first.url }}">
                    <h3 class="text-primary">{{ entry.title }}</h3>
                </a>

                <p class="description">{{ entry.description }}</p>

                <div class="bottom">
                    <div class="tags">
                        {% for tag in entry.tags %}
                            <span class="tag label badge">{{ tag }}</span>
                        {% endfor %}
                    </div>

                    <div class="actions">
                        {% include action-buttons.html %}
                    </div>
                </div>

            </div>

        </div>
    {% endfor %}
</div>