<div class="projects">

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" href="{{ data.section }}-grid.html"><span class="glyphicon glyphicon-th-large"></span></a>
            <a class="btn btn-primary active" href="{{ data.section }}-list.html"><span class="glyphicon glyphicon-align-justify"></span></a>
        </div>
    </div>

    {% for entry in data.content %}
        <div class="row">
            <div class="col-md-1">
                <div class="small-preview">
                    <img src="{{ entry.image }}"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="title">
                    {% assign first = entry.actions | first %}
                    <a href="{{ first.url }}"><h3>{{ entry.title }}</h3></a>
                </div>
            </div>
            <div class="col-md-4">
                <p class="description">{{ entry.description }}</p>
            </div>
            <div class="col-md-2">
                {% for tag in entry.tags %}
                    <span class="tag label badge">{{ tag }}</span>
                {% endfor %}
            </div>
            <div class="col-md-3">
                <div class="actions">
                    {% for action in entry.actions %}
                        <a class="btn" href="{{ action.url }}">{{ action.title }} &raquo;</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>