---
layout: default
---
{% jsonball data from fileVar page.file %}

<script>
    $('.preview').mousemove(function(e) {
        var preview = $(this);
        var previewWidth = preview.width();
        var previewHeight = preview.height();
        var offset = preview.offset();
        var relX = (e.pageX - offset.left) / previewWidth;
        var relY = (e.pageY - offset.top) / previewHeight;

        var child = preview.children(':first');
        child.css('left', (-relX * (child.width() - previewWidth)) + 'px').css('top', (-relY * (child.height() - previewHeight)) + 'px');
    }).mouseout(function(e) {
        //$(this).children(':first').css('left', '0').css('top', '0');
    });

    // Only if desktop (max-width > 620)
    if($('.preview').css('float') != 'none') {
        $('.preview > img').each(function() {
            $(this).colorbox({ href: $(this).attr('src'), title: $(this).attr('alt') });
        });
    }
</script>

<div class="projects">

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-primary active" href="{{ data.section }}-grid.html"><span class="glyphicon glyphicon-th-large"></span></a>
            <a class="btn btn-primary" href="{{ data.section }}-list.html"><span class="glyphicon glyphicon-align-justify"></span></a>
        </div>
    </div>

    {% for entry in data.content %}
        <div class="project">

            <div class="preview">
                <img src="{{ entry.image }}" alt="{{ entry.title }}"/>
            </div>

            <div class="caption">
                {% assign first = entry.actions | first %}
                <a href="{{ first.url }}">
                    <h3>{{ entry.title }}</h3>
                </a>

                <p class="description">{{ entry.description }}</p>

                <div class="bottom">
                    <div class="tags">
                        {% for tag in entry.tags %}
                            <span class="tag label badge">{{ tag }}</span>
                        {% endfor %}
                    </div>

                    <div class="actions">
                        {% for action in entry.actions %}
                            <a class="btn" href="{{ action.url }}">{{ action.title }} &raquo;</a>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>
    {% endfor %}
</div>